body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

form input {
  padding: 5px;
  margin-right: 5px;
}

form button {
  padding: 5px 10px;
}

#productsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-item {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.product-name {
  font-weight: bold;
}

.edit-button,
.delete-button {
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: #4CAF50;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.edit-button:hover,
.delete-button:hover {
  opacity: 0.8;
}
